.avatar {
  padding-top: 10px;
  max-width: 200px;
}

.aboutHero {
  background-color: #250949;
}

.aboutHeader {
  font-family: 'hatton';
  font-size: calc(4rem + 1.5vw) !important;
  color: #ffffff;
  line-height: 95%;
  max-width: 1000px;
  margin: auto;
  text-align: left;
}

.aboutLine {
  background-color: #5D338C;
  height: 2px;
  margin-bottom: 40px;

}

.toots {
  max-width: 630px;
  margin-left: auto;
  margin-top: -180px;
  bottom: -110px;
  position: relative;
}

.jenn {
  max-width: 380px;
  margin-top: -25px;
  padding-left: 15px;
  
}

.aboutFlex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 110px;
}

.aboutText {
  padding-top: 150px;
  max-width: 480px;
  padding-right: 40px;
  font-size: 22px;
  color: #959595;
  line-height: 40px;
}


/*--- Responsive - Media Queries ---*/
@media screen and (max-width: 1080px) {
  .toots {
    max-width: 450px;
  }
  .aboutText {
    font-size: 22px;
    line-height: 35px;
    padding-top: 105px;
  }
}

/*--- Mobile queries ---*/
@media screen and (max-width: 670px) {
  .toots {
    max-width: 400px;
    padding-top: 40px;
    bottom: -100px;
  }
  .aboutText {
    font-size: 20px;
    padding-top: 75px;
    max-width: 100%;
    padding-right: 0px;
  }
  .aboutHeader {
    font-size: 55px !important;
    line-height: 65px;
    
  }
  .aboutFlex {
    display: block;
    padding: 30px;
    margin-right: 50px;
  }
  .jenn {
     display: none;
  }
}
