@font-face {
  font-family: 'hatton';
  src: url('../components/assets/pphatton-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 14px;
  line-height: 22px;
  color: #959595;
  padding-left: 20px;
}

.containerMain {
  max-width: 1200px;
  margin: auto;
}

/*--- Mobile queries ---*/
@media screen and (max-width: 620px) {
 
  
}