.footer {
  padding: 40px;
  color: white;
  background-color: #ffffff;
}

.footer h2 {
  text-align: center;
}

.footerLine {
  background-color: #CFA6FD;
  height: 2px;
  margin-bottom: 40px;
}

.footerIcon {
  max-width: 50px;
}

.footerIcons {
  display: flex;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}

.footerText {
  font-family: 'hatton';
  font-size: 40px;
  color: #A5B6FB;

}