.header {
  background: #250949;
  font-family: 'Helvetica', Sans-Serif;
  color: #ffffff;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100px;
}

.header ul {
  display: flex;
  margin: 0px;
  align-items: stretch;
  line-height: 100px;
}


li {
  text-decoration: none !important;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;

}

.header li:hover {
  background-color: #3B0F73 !important;
}

.header ul li.active {
  background-color: #7000FF;
}

.logo {
  width: 100px !important;
  line-height: 100px;
  cursor: pointer;
  padding-left: 10px;
}


/*--- Mobile queries ---*/
@media screen and (max-width: 620px) {
.header ul {
  padding: 0px;
}

  li {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header ul li.active {
    width: 90%;
  }
  .logo {
    padding-left: px;
  }
}