.header {
  background: #250949;
  font-family: 'Helvetica', Sans-Serif;
  color: #ffffff;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100px;
}

.header ul {
  display: flex;
  margin: 0px;
  align-items: stretch;
  line-height: 100px;
}


li {
  text-decoration: none !important;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;

}

.header li:hover {
  background-color: #3B0F73 !important;
}

.header ul li.active {
  background-color: #7000FF;
}

.logo {
  width: 100px;
  line-height: 100px;
  cursor: pointer;
}