.project {
    cursor: pointer;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-family: 'Hatton';
    font-size: 56px;
    padding: 40px;
    color: #A5B6FB;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.project h2 {
    font-size: 16px;
    color: #7b7b7b;
    display: none;
}