.project {
    background-color: #f4f4f4;
}
.project:hover {
    background-color: #e9e7ea;
}

h1 {
    font-family: 'Hatton';
    font-size: 56px;
    padding: 40px;
    color: #A5B6FB;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.project h2 {
    font-size: 22px;
    color: #7b7b7b;
    border-left: 4px solid #FFA6EE;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 26px;
    margin-left: 20px;
}

.portImage {
    min-height: 254px;
    cursor: pointer;
}

.portLinkBox {
    background-color: #A7B9FE;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.portlink {
    display: flex;
    cursor: pointer;
}

.portlink span:hover {
    color:#ced6f8;
}

.portIconText {
    color: #ffffff;
    font-family: Helvetica;
    padding-left: 10px;
    line-height: 30px;
}
