.section {
    background: white;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 15px;
    
  }
  
  .section h1 {
    text-align: right;
    margin-right: 95px;
    margin-top: 35px;
  }

  p {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
  }